{
    "Source" : "TEMPLATE_AZSL_PATH",

    "DepthStencilState" :
    {
        "Depth" :
        {
            "Enable" : true,
            "CompareFunc" : "GreaterEqual",
            "writeMask": "Zero"
        },
        "Stencil" :
        {
            "Enable" : false
        }
    },
    
    "GlobalTargetBlendState" : 
    {
        "Enable" : true,
        "BlendSource" : "One",
        "BlendDest" : "ColorSource1",
        "BlendOp" : "Add"
    },

    "ProgramSettings":
    {
      "EntryPoints":
      [
        {
          "name": "VertexShader",
          "type": "Vertex"
        },
        {
          "name": "PixelShader",
          "type": "Fragment"
        }
      ]
    },

    "DrawList" : "transparent"
}

