/*
 * Copyright (c) Contributors to the Open 3D Engine Project
 * 
 * SPDX-License-Identifier: Apache-2.0 OR MIT
 *
 */

AzToolsFramework--LogPanel--NewLogTabDialog QLabel,
AzToolsFramework--LogPanel--NewLogTabDialog QCheckBox
{
    background-color: transparent;
}
