/cmake/LYTestWrappers.cmake @o3de/sig-testing-reviewers

/Code/Framework/AzTest @o3de/sig-testing-reviewers
/Code/Tools/AzTestRunner/ @o3de/sig-testing-reviewers

/o3de/pytest.ini @o3de/sig-testing-reviewers
/o3de/AutomatedTesting/Gem/PythonTests/editor_test_testing/ @o3de/sig-testing-reviewers
/o3de/scripts/ctest/ @o3de/sig-testing-reviewers

/Tools/LyTestTools/ @o3de/sig-testing-reviewers
# This is being deprecated.
/Tools/RemoteConsole/ @o3de/sig-testing-reviewers

# SIG-Core areas of ownership
/Code/CrashHandler/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Framework/AzCore/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Framework/AzFramework/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Framework/AzGameFramework/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/LauncherUnified/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/engine.json @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/Archive/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/Compression/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/CrashReporting/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/ImGui/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/LmbrCentral/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/Profiler/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Registry/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/scripts/lldb/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/scripts/o3de/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/scripts/o3de.* @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Templates/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Tools/EventLogTool/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers

# SIG-Core deprecated areas of ownership
/cmake/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Legacy/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Tools/SerializeContextTools/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/SerializeContextAnalysis.bat @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Tools/SerializeContextAnalyzer/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers

# SIG-Core (Approval of internal version incrementation)
/engine.json @o3de/sig-core-reviewers @o3de/sig-core-maintainers

# SIG-Content general ownership area
/Code/Framework/AzToolsFramework/ @o3de/sig-content-maintainers @o3de/sig-content-reviewers
/Code/Tools/ @o3de/sig-content-maintainers  @o3de/sig-content-reviewers

# SIG-Content Asset Pipeline ownership area
/AutomatedTesting/Gem/PythonTests/assetpipeline/ap_fixtures/ @o3de/sig-content-maintainers @o3de/sig-content-reviewers
/AutomatedTesting/Gem/PythonTests/assetpipeline/asset_processor_tests/ @o3de/sig-content-maintainers @o3de/sig-content-reviewers
/AutomatedTesting/Gem/PythonTests/assetpipeline/fbx_tests/ @o3de/sig-content-maintainers @o3de/sig-content-reviewers
/AutomatedTesting/Gem/PythonTests/PythonAssetBuilder/ @o3de/sig-content-maintainers @o3de/sig-content-reviewers
/Gems/SceneProcessing/ @o3de/sig-content-maintainers @o3de/sig-content-reviewers
/Code/Framework/AzCore/AzCore/Asset/ @o3de/sig-content-maintainers @o3de/sig-content-reviewers
/Code/Framework/AzCore/Tests/Asset/ @o3de/sig-content-maintainers @o3de/sig-content-reviewers
/Code/Framework/AzCore/Tests/AssetManager.* @o3de/sig-content-maintainers @o3de/sig-content-reviewers
/Code/Framework/AzCore/Tests/TestCatalog.* @o3de/sig-content-maintainers @o3de/sig-content-reviewers
/Code/Framework/AzFramework/AzFramework/Asset @o3de/sig-content-maintainers @o3de/sig-content-reviewers
/Code/Framework/AzFramework/Tests/Asset* @o3de/sig-content-maintainers @o3de/sig-content-reviewers

# SIG-Content Viewport ownership area
/Code/Framework/AzFramework/AzFramework/Viewport/ @o3de/sig-content-maintainers
/Code/Framework/AzFramework/AzFramework/Visibility/ @o3de/sig-content-maintainers
/Code/Framework/AzManipulatorTestFramework/ @o3de/sig-content-maintainers

# SIG-Content White Box ownership area
/AutomatedTesting/Gem/PythonTests/WhiteBox/ @o3de/sig-content-maintainers
/Gems/WhiteBox/ @o3de/sig-content-maintainers

# SIG-Content Game Objects (Prefabs & Spawnables) ownership area
/Gems/Prefab/ @o3de/sig-content-maintainers
/Code/Framework/AzFramework/AzFramework/Spawnable/ @o3de/sig-content-maintainers
/AutomatedTesting/Gem/PythonTests/Prefab/ @o3de/sig-content-maintainers

# SIG-Content Editor ownership area
/Code/Framework/AzFramework/AzFramework/DocumentPropertyEditor/ @o3de/sig-content-maintainers
/Code/Framework/AzQtComponents/ @o3de/sig-content-maintainers
/Code/Editor/ @o3de/sig-content-maintainers
/Gems/EditorPythonBindings/ @o3de/sig-content-maintainers
/Gems/GraphCanvas/ @o3de/sig-content-maintainers
/Gems/GraphModel/ @o3de/sig-content-maintainers
/Gems/LandscapeCanvas/ @o3de/sig-content-maintainers
/Gems/QtForPython/ @o3de/sig-content-maintainers
/AutomatedTesting/Gem/PythonTests/editor*/ @o3de/sig-content-maintainers
/AutomatedTesting/Gem/PythonTests/Editor*/ @o3de/sig-content-maintainers

# SIG-Content UI Editor ownership area
/Gems/LyShine*/ @o3de/sig-content-maintainers

# SIG Content Scripting ownership area
/Gems/ScriptCanvas*/ @o3de/sig-content-maintainers
/Gems/ScriptEvents/ @o3de/sig-content-maintainers

# SIG-Simulation ownership area
/Code/Framework/AzCore/AzCore/Math/ @o3de/sig-simulation-reviewers @o3de/sig-simulation-maintainers
/Code/Framework/AzFramework/AzFramework/Physics/ @o3de/sig-simulation-reviewers @o3de/sig-simulation-maintainers
/Gems/MotionMatching/ @o3de/sig-simulation-reviewers @o3de/sig-simulation-maintainers
/Gems/NvCloth/ @o3de/sig-simulation-reviewers @o3de/sig-simulation-maintainers
/Gems/PhysX/ @o3de/sig-simulation-reviewers @o3de/sig-simulation-maintainers
/Gems/PhysXDebug/ @o3de/sig-simulation-reviewers @o3de/sig-simulation-maintainers
/Gems/EMotionFX/ @o3de/sig-simulation-reviewers @o3de/sig-simulation-maintainers
/AutomatedTesting/Gem/PythonTests/NvCloth @o3de/sig-simulation-reviewers @o3de/sig-simulation-maintainers
/AutomatedTesting/Gem/PythonTests/Physics @o3de/sig-simulation-reviewers @o3de/sig-simulation-maintainers

# SIG-Build areas of ownership
/cmake/Platform/ @o3de/sig-build-reviewers @o3de/sig-build-maintainers
/cmake/Packaging/ @o3de/sig-build-reviewers @o3de/sig-build-maintainers
/cmake/Packaging* @o3de/sig-build-reviewers @o3de/sig-build-maintainers
/scripts/build/ @o3de/sig-build-reviewers @o3de/sig-build-maintainers
/scripts/commit_validation/ @o3de/sig-build-maintainers
/scripts/license_scanner/ @o3de/sig-build-maintainers
/scripts/signer/ @o3de/sig-build-maintainers

# SIG-Networking ownership areas
/AutomatedTesting/Gem/PythonTests/AWS/ @o3de/sig-network-maintainers
/AutomatedTesting/Gem/PythonTests/Multiplayer/ @o3de/sig-network-maintainers
/AutomatedTesting/Levels/AWS/ @o3de/sig-network-maintainers
/AutomatedTesting/Levels/Multiplayer/ @o3de/sig-network-maintainers
/Code/Framework/AzFramework/AzFramework/Network/ @o3de/sig-network-maintainers
/Code/Framework/AzNetworking/ @o3de/sig-network-maintainers
/Code/Tools/AWSNativeSDKInit/ @o3de/sig-network-maintainers
/Gems/AWSClientAuth/ @o3de/sig-network-maintainers
/Gems/AWSCore/ @o3de/sig-network-maintainers
/Gems/AWSGameLift/ @o3de/sig-network-maintainers
/Gems/AWSMetrics/ @o3de/sig-network-maintainers
/Gems/HttpRequestor/ @o3de/sig-network-maintainers
/Gems/Metastream/ @o3de/sig-network-maintainers
/Gems/Multiplayer/ @o3de/sig-network-maintainers
/Gems/MultiplayerCompression/ @o3de/sig-network-maintainers
/Gems/Twitch/ @o3de/sig-network-maintainers

# SIG-Graphics-Audio ownership areas
/Gems/Atom*/ @o3de/sig-graphics-audio-maintainers @o3de/sig-graphics-audio-reviewers
/Gems/Terrain/ @o3de/sig-graphics-audio-maintainers @o3de/sig-graphics-audio-reviewers
/Gems/Audio*/ @o3de/sig-graphics-audio-maintainers @o3de/sig-graphics-audio-reviewers
/Gems/Microphone/ @o3de/sig-graphics-audio-maintainers @o3de/sig-graphics-audio-reviewers
