Language: Cpp

AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Right
AlignOperands: false
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    SplitEmptyFunction: true
    AfterControlStatement: true
    BeforeElse: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
ColumnLimit: 140
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentCaseLabels: false
IndentPPDirectives: None
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PenaltyReturnTypeOnItsOwnLine: 1000
PointerAlignment: Left
SortIncludes: true
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
UseTab: Never

# Not available in clang-format version 6.0.0
#  BasedOnStyle: Microsoft
#  Standard: c++17
#  AllowAllArgumentsOnNextLine: true
#  AllowShortLambdasOnASingleLine: None
#  BreakInheritanceList: BeforeComma
#  SpaceAfterLogicalNot: false
#  SpaceBeforeCpp11BracedList: false
#  SpaceBeforeCtorInitializerColon: true
#  SpaceBeforeInheritanceColon: true
#  SpaceBeforeRangeBasedForLoopColon: true

# Not available in clang-format version 10.0.0
#  BeforeLambdaBody: true (BraceWrapping)
#  IndentCaseBlocks: true
