.idea/
.vscode/
__pycache__
AssetProcessorTemp/**
[Bb]uild/**
[Cc]ache/
Editor/EditorEventLog.xml
Editor/EditorLayout.xml
Tools/**/*egg-info/**
Tools/**/*egg-link
UserSettings.xml
[Uu]ser/
FrameCapture/**
.DS_Store
user*.cfg
.mayaSwatches/
_savebackup/
#Output folder for test results when running Automated Tests
TestResults/**
*.swatches
