#pragma once

#include <AzCore/std/containers/list.h>

namespace AZ
{
    class ComponentDescriptor;
    class ReflectContext;
}

{% set Namespace = dataFiles[0].attrib['Namespace'] %}
namespace {{ Namespace }}
{
    enum class ComponentTypes
    {
{% for Component in dataFiles %}
{% set ComponentName = Component.attrib['Name'] %}
        {{ ComponentName }},
{% endfor %}
    };

    void CreateComponentDescriptors(AZStd::list<AZ::ComponentDescriptor*>& descriptors);
}
