#pragma once

#include <AzCore/std/containers/list.h>
#include <Multiplayer/MultiplayerTypes.h>

namespace AZ
{
    class ComponentDescriptor;
    class ReflectContext;
}

{% set Namespace = dataFiles[0].attrib['Namespace'] %}
namespace {{ Namespace }}
{
    //! Registers all multiplayer components contained within this gem with the MultiplayerComponentRegistry.
    void RegisterMultiplayerComponents();

    //! For reflecting multiplayer components into the serialize, edit, and behaviour contexts.
    void CreateComponentDescriptors(AZStd::list<AZ::ComponentDescriptor*>& descriptors);

    //! For creating multiplayer component network inputs.
    void CreateComponentNetworkInput();
}
