
/*
 * Copyright (c) Contributors to the Open 3D Engine Project.
 * For complete copyright and license terms please see the LICENSE at the root of this distribution.
 *
 * SPDX-License-Identifier: Apache-2.0 OR MIT
 *
 */

QScrollBar:vertical
{
    border: 4px solid rgba(85, 85, 85, 65%);
    width: 16px;
    background-color: rgba(85, 85, 85, 65%);
    margin: 0px;
}

QScrollBar:horizontal
{
    border: 4px solid rgba(85, 85, 85, 65%);
    height: 16px;
    background-color: rgba(85, 85, 85, 65%);
    margin: 0px;
}

QScrollBar::handle
{
    border: 0px solid #000000;
    border-radius: 4px;
    background: #000000;
}

QScrollBar::add-line,
QScrollBar::sub-line
{
     border: none;
     background: none;
     color: none;
}
