{
    "Source" : "",

    "DepthStencilState" : { 
        "Depth" : { "Enable" : true, "CompareFunc" : "GreaterEqual" }
    },
    
    "ProgramSettings" : 
    {
        "EntryPoints":
        [
            {
                "name": "VertexShader",
                "type" : "Vertex"
            },
            {
              "name": "PixelShader",
              "type": "Fragment"
            }
        ] 
    },
    
    "DrawList" : "motion"
}
