{
    "Source" : "INSERT_AZSL_PATH_HERE",

    "DepthStencilState" : { 
        "Depth" : { "Enable" : true, "CompareFunc" : "LessEqual" }
    },

    "DrawList" : "shadow",

    // Note that lights now expose their own bias controls.
    // It may be worth increasing their default values in the future and reducing the depthBias values encoded here.
    "RasterState" :
    {
        "depthBias" : "10",
        "depthBiasSlopeScale" : "4"        
    },

    "ProgramSettings":
    {
      "EntryPoints":
      [
        {
          "name": "MainVS",
          "type": "Vertex"
        }
      ]
    }
}
