<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="O3DE's CodeAnalysis Rule Set" Description=" " ToolsVersion="17.0">
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26433" Action="Error" />
    <Rule Id="C26435" Action="Error" />
  </Rules>
</RuleSet>