
/*
 * Copyright (c) Contributors to the Open 3D Engine Project
 * 
 * SPDX-License-Identifier: Apache-2.0 OR MIT
 *
 */

AzQtComponents--Slider.HorizontalSlider
{
    qproperty-toolTipOffsetX: -8;
    qproperty-toolTipOffsetY: -16;
}

AzQtComponents--Slider.VerticalSlider
{
    qproperty-toolTipOffsetX: 8;
    qproperty-toolTipOffsetY: -24;
}
