<?xml version="1.0" encoding="UTF-8"?>

<?include "cpack_variables.wxi"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

    <Bundle Name="$(var.CPACK_PACKAGE_NAME) $(var.CPACK_PACKAGE_VERSION)"
        Version="$(var.CPACK_PACKAGE_VERSION)"
        Manufacturer="$(var.CPACK_PACKAGE_VENDOR)"
        UpgradeCode="$(var.CPACK_WIX_UPGRADE_GUID)"
        DisableModify="yes">

        <Variable Name="InstallFolder"
            Type="string"
            Value="[ProgramFiles64Folder]$(var.CPACK_PACKAGE_INSTALL_DIRECTORY)"
            bal:Overridable="yes"/>

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
            <bal:WixStandardBootstrapperApplication
                LicenseFile="$(var.CPACK_WIX_LICENSE_RTF)"
                ShowVersion="yes" />
        </BootstrapperApplicationRef>

        <Chain>
            <MsiPackage Id="$(var.CPACK_PACKAGE_FILE_NAME)"
                SourceFile="$(var.CPACK_LOCAL_INSTALLER_DIR)/$(var.CPACK_PACKAGE_FILE_NAME).msi"
                DownloadUrl="$(var.CPACK_DOWNLOAD_SITE)/{2}"
                Vital="yes"
                Compressed="no">

                <MsiProperty Name="INSTALL_ROOT" Value="[InstallFolder]" />
            </MsiPackage>
        </Chain>
    </Bundle>
</Wix>
