/*------------------------------------------------------------------------------------*/

/*! 
  @copyright Allegorithmic. All rights reserved.
*/

/* [Generic Stylesheet] ----------------------------------------------------- */
/*
* {
  font-family: "Segoe UI";
}*/

*{
outline: none;
}

QCheckBox,
QListView,
QPushButton,
QRadioButton,
QTabBar,
QToolBar,
QToolBox,
QTreeView {
  icon-size: 24px;
}

/* QWidget */
QMainWindow,
QWidget:window {
  background-color: #444444;
  color: #555555;
}

QDockWidget {
  background-color: #444444;
  border: 4 solid #444444;
}

QWidget {
  background: #444444;
  color: #c8c8c8;
}

/* QFrame: noframe: 0, hline: 4, vline: 5 */
QFrame {
  color: #c8c8c8;
}
QFrame[frameShape="3"] {
  background-color: #5a5a5a;
  border-color: #808080 transparent #404040 transparent;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
}
QFrame[frameShape="4"],
QFrame[frameShape="5"] {
  background: #2b2b2b;
  border: none;
  color: transparent;
  qproperty-frameShadow: "Plain";
}
QFrame[frameShape="4"] {
  min-height: 1px;
  max-height: 1px;
  margin: 4px 0;
}
QFrame[frameShape="5"] {
  min-width: 1px;
  max-width: 1px;
  margin: 0 4px;
}

/* QComboBox */
QComboBox {
  background: #E9E9E9;
  color: #000000;
  border: 1px solid #666666;
  border-radius: 3px;
  padding: 0px 0px 0px 4px; /* Needed to make the text color works on Linux */
  height: 16px;
}
QComboBox:hover {
  color: #111111;
}

QComboBox:disabled {
  background-color: #777777;
  color: #999999;
  border: 1px solid #4d4d4d;
}
QComboBox:checked {
  background-color: #E9E9E9;
  color: #111111;
}
QComboBox::drop-down {
  color: #c8c8c8;
  border: none;
}
QComboBox::down-arrow {
  image: url(../builder/ui/stylesheets/img/triangle3.png);
}
QComboBox::down-arrow:disabled {
  image: url(../builder/ui/stylesheets/img/triangle1.png);
}
QComboBox QAbstractItemView {
  border: 1px solid #141414;
  background-color: #222222;
  selection-background-color: #444444;
  selection-color: #FFFFFF;
  padding: 1px;
  outline: none;
}
QComboBox[isSupported="false"] {
  background-color: #FCB917;
  color: #808080;
  font-style:italic;
}

/* QLabel */
QLabel {
  background: transparent;
}
QLabel[hasError="true"] {
  background: #a94442;
}

/* QTreeView */
QTreeView {
  background-color: transparent;
  alternate-background-color: #444444;
  show-decoration-selected: 1;
  selection-background-color: transparent;
  outline: none;
  border:none;
}

QTreeView::branch,
QTreeView::item{
  padding: 1px 0;
  outline: none;
}

QTreeView::branch:has-children {
  border-image: none;
}
QTreeView::branch:has-children:closed {
  image: url(:/alg/gui/icons/lightarrowright.svg);
}
QTreeView::branch:has-children:closed:selected {
  image: url(:/alg/gui/icons/lightarrowright.svg);
}
QTreeView::branch:has-children:open {
  image: url(:/alg/gui/icons/lightarrowdown.svg);
}
QTreeView::branch:has-children:open:selected {
  image: url(:/alg/gui/icons/lightarrowdown.svg);
}

/* QAbstractItemView */
QAbstractItemView {
  background: #444444;
  border: none;
  color: rgb(200,200,200);
  outline: none;
}
QAbstractItemView::branch,
QAbstractItemView::item {
  border: 0 solid transparent;
  padding: 2px;
  outline: none;
  show-decoration-selected: 0;
}

/* Buttons */
QAbstractItemView::branch:!selected:hover,
QAbstractItemView::item:!selected:hover,
QAbstractItemView::indicator:!selected:hover,
QAbstractItemView::indicator:enabled:hover {
  background-color: #5a5a5a;
  color: white;
  border: 0 solid transparent;
}

QAbstractItemView::item:enabled:selected,
QAbstractItemView::branch:enabled:selected,
QAbstractItemView::indicator:enabled:selected,
QAbstractItemView::indicator:enabled:pressed,
QAbstractItemView::indicator:enabled:checked,
QSlider::handle:enabled:pressed {
  border: 0 solid transparent;
  background-color: #757575;
  color: #1a1a1a;
}
QGroupBox::indicator:enabled:pressed,
QGroupBox::indicator:enabled:checked {
  border: 0 solid transparent;
  background-color: #757575;
}

QAbstractItemView::item:enabled:selected {
  background-color: #757575;
  border: 0 solid #1a8dff;
  color: white;
}

QAbstractItemView::branch:enabled:selected{
  background-color: #757575;
  border: 0 solid transparent;
  color: white;
}

Pfx--Editor--Components--Explorer--ComponentWidget QTreeView{
  background: #262626;
  show-decoration-selected: 0;
}

Pfx--Editor--Components--Explorer--ComponentWidget QTreeView::item{
  border: 1 solid transparent;
  border-width: 1px 0px 1px 1px;
  min-height: 22px;
  max-height: 22px;
  min-height: 24px;
  padding: 0px;
}

Pfx--Editor--Components--Explorer--ComponentWidget QTreeView::item:enabled:selected,
Pfx--Editor--Components--Explorer--ComponentWidget QTreeView::item:enabled:selected:hover,
Pfx--Editor--Components--Explorer--ComponentWidget QTreeView::branch:enabled:selected,
Pfx--Editor--Components--Explorer--ComponentWidget QTreeView::branch:enabled:selected:hover {
  background: transparent;
}

Pfx--Editor--Components--Explorer--ComponentWidget QTreeView::item:enabled:selected,
Pfx--Editor--Components--Explorer--ComponentWidget QTreeView::item:enabled:selected:hover{
  background: #141414;
  border: 1 solid #1a8dff;
  border-width: 1 0 1 1;
}

Pfx--Editor--Components--Explorer--ComponentWidget QTreeView::item:enabled:!selected:hover{
  border-width: 1 0 1 1;
}

Pfx--Editor--Components--Explorer--ComponentWidget QTreeView::item:last:enabled:selected,
Pfx--Editor--Components--Explorer--ComponentWidget QTreeView::item:last:enabled:selected:hover{
  border-width: 1 1 1 0;
}




/* QHeaderView */

QHeaderView::section {
  background: #444444;
  border-color: #252525;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  color: #c8c8c8;
  padding: 0px 3px;
}
QHeaderView::section:last {
  border-right: 0px;
}

QHeaderView::down-arrow {
  image: url(:/alg/gui/icons/lightarrowdown.svg);
  min-height:16px;
  min-width: 16px;
}

QHeaderView::up-arrow {
  image: url(:/alg/gui/icons/lightarrowup.svg);
  min-height:16px;
  min-width: 16px;
}

Pfx--DataBase--ResourceTableWidget QHeaderView::section {
  background: #444444;
  border-width: 0px 0px 0px 0px;
}

/* QDockWidget */
QDockWidget {
  color: #c8c8c8;
  font-weight: bold;
}
QDockWidget::title {
  background: #252525;
  color: #c8c8c8;
  border-bottom: 0px solid black;
  padding-left: 4px;
  padding-top: 5px;
}

/* DockWidgetTitleBar */
Alg--Gui--DockWidgetTitleBar {
  background: #2b2b2b;
  padding-left: 2px;
  icon-size: 24px;
  /*padding-top: 6px; /* hack to get the same size for information titlebar */
  /*padding-bottom: 6px; /* hack to get the same size for information titlebar */
}

Alg--Gui--DockWidgetTitleBar #title-label{
  color: #e0e0e0;
  background: #2b2b2b;
  font-weight:bold;
  font-size: 12px;
  padding-left: 0px;
}
Alg--Gui--DockWidgetTitleBar #title-icon{
  background: #2b2b2b;
  padding-right: 2px;
}

Alg--Gui--DockWidgetTitleBarButton {
  background: #2b2b2b;
  padding: 0px;
  min-height: 24px;
  min-width: 24px;

}

Alg--Gui--DockWidgetTitleBarButton:enabled:hover{
  background: #1a1a1a;
}
Alg--Gui--DockWidgetTitleBarButton:enabled:checked,
Alg--Gui--DockWidgetTitleBarButton:enabled:pressed {
  background: #1a1a1a;
}

Alg--Gui--DockWidgetTitleBarButton#dockactionbutton{
    image: url(':alg/gui/icons/dockwidgetdock.svg');
}
Alg--Gui--DockWidgetTitleBarButton#floatactionbutton{
  image: url(':alg/gui/icons/dockwidgetfloat.svg');
}
Alg--Gui--DockWidgetTitleBarButton#closeactionbutton{
  image: url(':alg/gui/icons/dockwidgetclose.svg');
}
Alg--Gui--DockWidgetTitleBarButton#maximizeactionbutton{
  image: url(':alg/gui/icons/dockwidgetmax.svg');
}
Alg--Gui--DockWidgetTitleBarButton#restoreactionbutton{
  image: url(':alg/gui/icons/dockwidgetnormal.svg');
}


Alg--Gui--DockWidgetTitleBarButton#persistentactionbutton{
  padding: 0px;
  margin: 0px;
  min-width: 24px;
  min-height: 24px;
  image: url(':/pfx/editor/gui/images/pin_off.svg');
}
Alg--Gui--DockWidgetTitleBarButton#persistentactionbutton:checked {
  image: url(':/pfx/editor/gui/images/pin_on.svg');
}

Alg--Gui--DockWidgetTitleBarButton[tabIsCurrent="false"]:hover{
  background: #0d0d0d;
}

Alg--Gui--ConsoleWidget QPlainTextEdit {
  qproperty-infoColor : #D0D0D0;
  qproperty-warningColor : coral;
  qproperty-errorColor : crimson;
  qproperty-quotedItemColor : #40ff00ff;
  qproperty-uriItemColor : #400000ff;
}

/* QGroupBox */
QGroupBox {
  border: 1px solid #4d4d4d 18%;
  margin: 18px 0 0 0;
  padding: 2px 10px;
  font-size: 12px;
}
QGroupBox::title {
  background: solid;
  color: #f4f4f4;
  left: 0;
  padding: 2px 5px;
  top: -16px;
}

QGroupBox QGroupBox{
  border: none;
  margin: 18px 0 0 0;
  padding: 2px 10px;
  font-size: 11px;
}

QGroupBox#bakerView2DGroupBox {
  padding: 2px 0px 0px 0px;
}

/* QMenu */
QMenu {
  color: #c8c8c8;
  background: #4d4d4d;
  border-left: 1 solid #444444;
  border-bottom: 1 solid #444444;
}
QMenu::item {
  border: 0 solid transparent;
  padding: 0px 24px 0px 26px;
  min-height: 24px;
}
QMenu::item:selected {
  color: white;
  background-color: #444444;
}
QMenu::item:disabled {
  color: #606060;
}
QMenu::icon {
  background-color: transparent;
}
QMenu::separator {
  background-color: #444444;
  height: 1px;
}

QMenu#materialSelectionMenu::item {
  min-height: 25px;
}

/* QMenuBar */
QMenuBar {
  background-color: #444444;
  color: #c8c8c8;
  border-bottom: 0px solid #1a1a1a;
  min-height: 18px;
  font-size: 11px;
}
QMenuBar::item {
  spacing: 20px;
  padding: 2px 10px;
  margin: 0px 0px;
}
QMenuBar::item:selected {
  color: white;
  background-color: #4d4d4d;
}

QMenuBar::item:disabled {
  color: #202020;
}

Pfx--Editor--Python--PythonEditorWidget QMenuBar {
  min-height: 18px;
}

Alg--Gui3D--MenuBar--ScrollableMenubar::item {
  background-color: #444444;
  spacing: 0px;
  padding: 4 6;
}

Alg--Gui3D Q{
	font-size: 16px;
}

/* QProgressBar */
QProgressBar {
  color: white;
  background-color: #404040;
  border: none;
  height: 8px;
  padding: 0;
}
QProgressBar::chunk {
  width: 4px;
  background-color: #30b29c;
}
QProgressDialog QProgressBar {
  background-color: #404040;
  border: 1px solid grey;
  height: 16px;
  padding: 0;
  text-align: center center;
}
/*
QProgressDialog QProgressBar::chunk {
  width: 4px;
  background-color: #2b2b2b;
}*/

/* QRadioButton */
QRadioButton::indicator {
  border-radius: 0px;
  height: 12px;
  width: 12px;
}

/* QScrollBar */

QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
  background: #555555;
  border: 0px solid #202020;
}
QScrollBar::handle:vertical:hover, QScrollBar::handle:horizontal:hover {
  background-color: #444444;
  border: 1px solid #202020;
}
QScrollBar::handle:vertical:pressed, QScrollBar::handle:horizontal:pressed {
  border: 1px solid #202020;
  background-color: #444444;
}
QScrollBar::handle:vertical:disabled, QScrollBar::handle:horizontal:disabled {
  background-color: transparent;
  border: 1px solid #2b2b2b;
  color: #141414;
}
QScrollBar::handle:vertical:checked, QScrollBar::handle:horizontal:checked {
  background-color: #444444;
}
QScrollBar::handle:vertical {
  min-height: 8px;
}
QScrollBar::handle:horizontal {
  min-width: 8px;
}
QScrollBar:vertical {
  margin: 0px 0px 0px 0px;
  width: 10px;
}
QScrollBar:horizontal {
  margin: 0px 0px 0px 0px;
  height: 10px;
}
QScrollBar::add-page:vertical, QScrollBar::add-page:horizontal,
QScrollBar::sub-page:vertical, QScrollBar::sub-page:horizontal {
  background: #292929;
  height:0px;
  width: 0px;
  /*border: 1 solid #444444;*/
}
QScrollBar::sub-line:vertical:disabled,
QScrollBar::sub-line:horizontal:disabled,
QScrollBar::sub-line:vertical,
QScrollBar::sub-line:horizontal,
QScrollBar::add-line:vertical,
QScrollBar::add-line:horizontal {
  background-color: transparent;
  height:0px;
  width: 0px;
}

/*
QScrollBar::add-line:vertical {
  border: none;
  background: none;
  height: 20px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal {
  width: 0px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}



QScrollBar::sub-line:vertical,
QScrollBar::sub-line:horizontal {
  background: none;
  color: #99c8c8;
  border: 0px solid #141414;
  border-radius: 0px;
}

QScrollBar::sub-line:vertical:hover,
QScrollBar::sub-line:horizontal:hover {
  background-color: #525252;
  border: 1px solid #996565;
}

QScrollBar::sub-line:vertical:pressed,
QScrollBar::sub-line:vertical:checked,
QScrollBar::sub-line:horizontal:pressed,
QScrollBar::sub-line:horizontal:checked {
  border: 0px solid #656565;
  background-color: #2b2b2b
}

*/

/* QScrollArea */
QScrollArea {
  border: none;
}
QScrollArea,
QScrollArea > QWidget,
QScrollArea > QWidget > QWidget {
  background: transparent;
}

/* Button */
QAbstractButton::menu-indicator:enabled,
QAbstractButton::menu-arrow:enabled {
  image: url(:/alg/gui/icons/lightarrowdown.svg);
  subcontrol-position: right center;
  top: 0;
}

QAbstractButton::menu-indicator:enabled:checked,
QAbstractButton::menu-indicator:enabled:pressed,
QAbstractButton::menu-indicator:!enabled,
QAbstractButton::menu-arrow:enabled:checked,
QAbstractButton::menu-arrow:enabled:pressed,
QAbstractButton::menu-arrow:!enabled {
  image: url(:/alg/gui/icons/darkarrowdown.svg);
}

/* QSpinBox */
QAbstractSpinBox {
  padding-left: 10px;
  height: 16px;
}
QAbstractSpinBox::down-button,
QAbstractSpinBox::up-button {
  background-repeat: no-repeat;
  border: none;
  width: 12px;
}
QAbstractSpinBox::down-button {
  background-position: center;
  background-image: url(:/alg/gui/icons/darkarrowdown.svg);
}
QAbstractSpinBox::up-button {
  background-position: center;
  background-image: url(:/alg/gui/icons/darkarrowup.svg);
}

QAbstractSpinBox::down-button:enabled:hover,
QAbstractSpinBox::up-button:enabled:hover {
  background-color: #1a1a1a;
  color: white;
  border: 0 solid transparent;
}

QAbstractSpinBox::down-button:enabled:hover {
  background-image: url(:/alg/gui/icons/lightarrowdown.svg);
}

QAbstractSpinBox::up-button:enabled:hover {
  background-image: url(:/alg/gui/icons/lightarrowup.svg);
}



QAbstractSpinBox::down-button:enabled:pressed,
QAbstractSpinBox::up-button:enabled:pressed {
  border: 0 solid transparent;
  background-color: #757575;
  color: #1a1a1a;
}

/* QStatusBar */
QStatusBar {
  border-top: 1px solid #141414;
}
QStatusBar::item {
  background: #444444;
  border: none;
}
QStatusBar QLabel {
  font-size: 11px;
  min-width: 150px;
  vertical-align: center;
}
QStatusBar QProgressBar {
  min-width: 128px;
}
QStatusBar QProgressBar::chunk {
  background-color: #30b29c;
}

QStatusBar QToolButton {
  icon-size: 24px;
}

/* QSlider */
QSlider {
  border: none;
}
QSlider:horizontal {
  min-width: 32px;
}
QSlider:vertical {
  min-height: 32x;
}

QSlider::groove {
  background: transparent;
}

QSlider::handle {
  background: #6a6a6a;
  border: none;
  margin: 0;
}
QSlider::handle:disabled {
  background: #303030;
}
QSlider::handle:horizontal {
  width: 8px;
}
QSlider::handle:vertical {
  height: 8px;
}

/* QTabBar */
QTabWidget {
  background: #141414;
}
QTabWidget::pane {
  border-top: 1px solid #4c4c4c;
}

QTabBar::close-button {
     image: url(:alg/gui/icons/dockwidgetclose.svg);
 }
QTabBar {
  background: #333333;
}
QTabBar::tab {
  background: #333333;
  color: #c8c8c8;
  border: 1px solid #111111;
  border-bottom: none;
  padding: 3px 45px 3px 45px;
}
QTabBar::tab:hover {
  color: white;
}
QTabBar::tab:selected {
  background: #444444;
  color: white;
  border: 1px solid #111111;
  border-bottom: none;
}
QTabBar::tab:disabled {
  background-color: #4c4c4c;
  color: #afafaf;
  border-top: 1px solid #141414;
  border-right: 1px solid #141414;
}

/* QPushButton */
QPushButton {
  background: #5d5d5d;
  color: #c8c8c8;
  border: 1px solid #282828;
  border-radius: 3px;
  padding: 2px;
  /*margin-left: 5px;
  margin-right: 5px;*/
  min-width: 96px;
  outline: none;
}
QPushButton:hover {
  background-color: #6d6d6d;
  border: 1px solid #0b0b0b;
  color: #fdf7df;
}
QPushButton:pressed {
  background-color: #444444;
  border: 1px solid #0b0b0b;
  color: #fdf7df;
}
QPushButton:checked {
  background-color: #262626;
  color: #e1e1e1;
}
QPushButton:checked:hover {
  background-color: #262626;
  color: #1a8dff;
}
QPushButton:checked:pressed {
  background-color: #1a1a1a;
  color: #1a8dff;
}
QPushButton:disabled {
  background-color: #3f3f3f;
  color: #1a1a1a;
}
QPushButton:default {
  border: 1px solid #0b0b0b;
}

/* QDialogButtonBox */
QDialogButtonBox {
  dialogbuttonbox-buttons-have-icons: 0;
}

/* QToolButton */
QToolButton {
  background: transparent;
  border-radius: 3px;
  color: #c8c8c8;
  margin-right: 0px;
}

QToolButton:hover {
  background-color: #262626;
  color: #1a8dff;
}
QToolButton:hover:pressed {
  background-color: #1a1a1a;
  color: #1a8dff;
}
QToolButton:disabled {
  background-color: transparent;
  color: #656565;
}
QToolButton[popupMode="2"]::menu-indicator:disabled {
  subcontrol-position: center right;
}

QToolButton:disabled:checked {
  background-color: transparent;
  color: #656565;
}
QToolButton:checked {
  background-color: #262626;
  color: #c8c8c8;
}
QToolButton:checked:hover {
  background-color: #262626;
  color: #1a8dff;
}
QToolButton:checked:pressed {
  background-color: #1a1a1a;
  color: #1a8dff;
}

QToolButton::menu-button {
  border-left: 0px solid transparent;
  padding: 0;
  width: 10px;
}

QToolButton::menu-indicator {
  width: 0px;
}

QToolButton[popupMode="1"],
QToolButton#pwFunctionButton,
QToolButton#undo-button,
QToolButton#redo-button{
  padding-right: 11px;
}
QToolButton[popupMode="1"]::menu-indicator{
  width: 10px;
}

/* ------------------------------------------------------------------------------------- */
/* QToolBar */
QToolBar {
  background: transparent;
  color: #c8c8c8;
  padding: 1px;
  border-bottom: 1px solid black;
  spacing:1px;
  min-height: 24px;
}
QToolBar::separator {
  background: transparent;
  width: 0px;
}

QToolBar::handle:horizontal {
  background-image: url(:/pfx/editor/gui/images/handle.svg);
  width: 5px;
  height:8px;
  margin-right:5px;
  margin-left:5px;
}

QToolBar::handle:vertical {
  background-image: url(:/pfx/editor/gui/images/handlevertical.svg);
  width: 8px;
  height:6px;
  margin-top:5px;
  margin-bottom:5px;
}

QToolBar > QWidget[class~="QWidget"] { /*match only QWidget, not its subclasses*/
  background: none;
}

/* LayoutWidget */
Alg--Gui--LayoutWidget QToolButton {
  max-height: 24px;
  min-height: 24px;
}

Alg--Gui--LayoutWidget #toolbar > QToolBar {
  background: transparent;
  border: none;
  /*border-bottom: 1px solid #1a1a1a;*/
}

/* ------------------------------------------------------------------------------------- */
/* QToolTip */
QToolTip {
  background: #444444;
  border-color: #666666;
  border-style: solid;
  border-width: 1px;
  padding: 6px;
  max-width: 600px;
  color: #cccccc;
}

/* QGraphicsView */
QGraphicsView {
  border: none;
}


/* [Specific Stylesheet] ---------------------------------------------------- */

/* ArrayView */
Alg--Gui--ArrayView {
  border: none;
  background: #444444;
  margin: 0;
}

Alg--Gui--ArrayViewEntryWidget #handle {
  background: url(:/pfx/editor/gui/images/handle.svg);
  border-bottom: 1px solid #4a4a4a;
  min-width: 12px;
}

Alg--Gui--PathArrayWidget #PathArrayWidgetAddButton,
Alg--Gui--PathArrayWidget #PathArrayWidgetRemoveButton,
Alg--Gui--MoverWidgetArray #WorkspaceListWidgetAddButton,
Alg--Gui--MoverWidgetArray #WorkspaceListWidgetRemoveButton {
  icon-size: 16px;
}


QComboBox QListView::item  {
  background-color: #444444;
  padding: 40px;
}

/* WidgetGroup */
Alg--Gui--WidgetGroup {
  border-bottom: 0px solid #2b2b2b;
}

Alg--Gui--WidgetGroupToolBar {
  background-color: #4d4d4d;
  min-height: 24px;
  max-height: 24px;
  border-bottom: 1px solid #2b2b2b;
}

Alg--Gui--WidgetGroupToolBar:hover {
  background-color: #262626;
}

Alg--Gui--WidgetGroupToolBar QToolButton {
  background-color: transparent;
  min-height: 24px;
  max-height: 24px;
  max-width: 64px;
  min-width: 24px;
  icon-size: 24px;
}

Alg--Gui--WidgetGroupToolBar QToolButton#WidgetGroupMinimizeButton {
  icon-size: 17px; /* used odd number here, to have the tip of the arrow aligned to pixel center */
  max-width: 24px;
}

Alg--Gui--WidgetGroupToolBar QToolButton#WidgetGroupMinimizeButton:hover {
  icon-size: 17px; /* used odd number here, to have the tip of the arrow aligned to pixel center */
  max-width: 24px;
  background-color: transparent;
}

Alg--Gui--WidgetGroupToolBar QToolButton:hover {
  background-color: #1a1a1a;
}

Alg--Gui--WidgetGroupToolBar > QLabel {
  color: #e6e6e6;
  font-weight: bold;
  font-size: 12px;
  padding: 0 1px;
}

/* BrushEditor */
Alg--Graphics--BrushEditor #mPresetPanel {
  background: #3a3a3a;
}

/* Explorer */
Alg--Gui--LayoutWidget #toolbar,
Pfx--Editor--Components--Explorer--ComponentWidget #mInformationTitleBar {
  background-color: #444444;
  color: #c8c8c8;
}

Pfx--Editor--Components--Explorer--ComponentWidget #mInformationTitleBar {
  border: none;
}

Pfx--Editor--Components--Explorer--ComponentWidget QAbstractItemView::item{
  show-decoration-selected: 0;
}

/* Properties */

Pfx--Editor--Components--Properties--PropertyWidget {
  border-bottom: 1px solid #2b2b2b;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 4px;
}

Pfx--Editor--Components--Properties--PropertyWidget > QLabel {
  color: #cccccc;
  font-weight: Bold;
  padding: 0px 0px 0px 12px;
  min-height: 24px;
}

Pfx--Editor--Components--Properties--PropertyWidget > QToolButton {
  padding: 0px 0px 2px 0px;
  icon-size: 24px;
  margin: 0px;
}

Pfx--Editor--Components--Properties--PropertyWidget > QToolButton#delete-tweak{
  icon-size: 16px;
}

Pfx--Editor--Components--Properties--PropertyWidget > QToolButton#pw-collapse{
  icon-size: 17px; /* see WidgetGroupMinimizeButton */
}

Pfx--Editor--Components--Properties--PropertyWidget >
Pfx--Editor--Components--Properties--BaseEditor {
  padding: 0px 0px 8px 16px;
}

Pfx--Editor--Components--Properties--TransformationEditor {
  margin-left: -10px;
}

Pfx--Editor--Components--Properties--PropertyWidget QGroupBox {
  font-size: 12px;
}

Pfx--Editor--Components--Properties--TransformationEditor {
  margin-left: -10px;
}

Pfx--Editor--Components--Properties--BoolEditor QPushButton,
Pfx--Editor--Components--Properties--BoolNEditor QPushButton{
  max-width: 200px;
}

Pfx--Editor--Components--Properties--PropertyWidget QGroupBox {
  font-size: 12px;
}

Pfx--Editor--Components--Properties--PropertyWidgetContainer[depth="1"],
Pfx--Editor--Components--Properties--PropertyWidgetContainer[depth="2"] {
  background: transparent;
  margin-left: 16px;
}

Pfx--Editor--Components--Properties--PropertyWidgetContainer[depth="1"] Pfx--Editor--Components--Properties--PropertyWidget{
  background: transparent;
  border-left: 0px solid #6c6c6c;
}

QToolButton#GraphPresetWidget-add-button{
  icon-size: 24px;
}

Pfx--Editor--Components--Properties--ColorEditor > QPushButton{
  min-width: 32px;
}

Alg--Gui--MoverWidget {
  background: transparent;
}

Alg--Gui--MoverWidget:disabled {
  background: #606060;
}

Alg--Gui--MoverWidget:hover {
  background: #404040;
}

Alg--Gui--MoverWidget #handle {
  background: url(:/pfx/editor/gui/images/handle.svg);
  border-bottom: 0px solid #2b2b2b;
  min-width: 12px;
}

Alg--Gui--MoverWidget[selected="true"] {
  background-color: #585858;
}


Pfx--Gui--EnginesList QAbstractItemView::item{
  border: 1 solid transparent;
  padding-left: 0px;
  max-height: 16px;
}

Pfx--Gui--EnginesList QAbstractItemView::item:enabled:hover {
  padding-left: 1px;
}

Pfx--Gui--EnginesList QAbstractItemView::item:enabled:selected,
Pfx--Gui--EnginesList QAbstractItemView::item:enabled:selected:hover {
  border: 1 solid #1a8dff;
  background: #1a1a1a;
  padding-left: 0px;
}

/* Shelf */

Pfx--Editor--Components--Shelf--ComponentWidget QAbstractItemView{
  background: #262626;
  show-decoration-selected: 0;
}

Pfx--DataBase--ResourceTableWidget QAbstractItemView{
  padding-left: 1px;
}

Pfx--Editor--Components--Shelf--ComponentWidget QAbstractItemView::item{
  border: 1 solid transparent;
  padding:0px;
  padding-left: 0px;
}

Pfx--Editor--Components--Shelf--ComponentWidget QAbstractItemView::item:enabled:selected,
Pfx--Editor--Components--Shelf--ComponentWidget QAbstractItemView::item:enabled:selected:hover {
  border: 1 solid #1a8dff;
  background: #1a1a1a;
  padding-left: 0px;
}
Pfx--Editor--Components--Graph--BrowserWidgetShelf  QAbstractItemView::item:enabled:selected,
Pfx--Editor--Components--Graph--BrowserWidgetShelf  QAbstractItemView::item:enabled:selected:hover {
  border: 1 solid #1a8dff;
  background: #1a1a1a;
  padding-left: 1px;
}

Pfx--Editor--Components--Graph--BrowserWidgetShelf {
  min-height: 670px;
  max-height: 670px;
}

Pfx--Editor--Components--Graph--CompGraphWidget Alg--Gui--ToolBoxAreaWidget QToolBar {
  background: #444444;
}

Pfx--Editor--Components--Graph--BrowserWidgetShelf QSizeGrip {
  min-width: 16px;
}

Pfx--Editor--Components--Shelf--ComponentWidget QAbstractItemView::item:enabled:hover {
  border: 1 solid transparent;
  background: #1a1a1a;
  padding:0px;
}

Pfx--Editor--Components--Shelf--ComponentWidget QAbstractItemView::branch:enabled:selected {
  border: 1 solid transparent;
  background: transparent;
}

Pfx--Editor--Components--Shelf--QueryExplorerWidget QTreeView{
  background: transparent;
}

Pfx--Editor--Components--Shelf--QueryExplorerWidget QTreeView::branch,
Pfx--Editor--Components--Shelf--QueryExplorerWidget QTreeView::item {
  padding: 2px 0;
}


Pfx--Editor--Components--Shelf--QueryExplorerWidget QTreeView::item {
  border-bottom: 1px solid #2b2b2b;
  outline: none;
}

Pfx--Editor--Components--Shelf--QueryEditorWidget > QWidget {
  background: #2b2b2b;
  outline: none;
}

Pfx--Editor--Components--Shelf--ComponentWidget  QToolBar {
  background: #444444;
}

/* View2D */
Pfx--Editor--Components--View2D--ComponentWidget  QGraphicsView {
  background: #202020;
  font-size: 12px;
}

Pfx--Editor--Components--View2D--Plugins--InformationWidget,
Pfx--Editor--Components--View2D--Plugins--InformationWidget QWidget,
Pfx--Editor--Components--View2D--Plugins--HistogramWidget  {
  background-color: transparent;
}

Pfx--Editor--Components--View2D--Plugins--InformationWidget QFrame#mSep1,
Pfx--Editor--Components--View2D--Plugins--InformationWidget QFrame#mSep2 {
  background: #2b2b2b;
  border: 1px solid #444444;
}

Pfx--Editor--Components--DependencyManager--TreeViewWidget:item{
  max-height: 14px;
}

/* Layers */

Pfx--Editor--Components--Layers--LayerToolBox QTreeView::item {
  min-height: 24px;
}


Pfx--Gui--NewSubstanceDialog QTreeView {
  icon-size: 16px;
}


/* License */
QDialog#LicenseFileWizard {
  min-height: 320px;
  max-height: 320px;
  min-width: 440px;
  max-width: 440px;
}
QDialog#LicenseFileWizard #labelError {
  color: #dc0a0a;
  border: 1px solid #dc0a0a;
  background: #252525;
  padding: 3px;
}
QDialog#LicenseFileWizard #labelFilePath, QDialog#LicenseFileWizard #labelLicenseDetails {
  border: 1px solid #585858;
  background: #252525;
  padding: 3px;
}
QDialog#LicenseFileWizard #buttonOpenLicense {
  outline: 0px;
  padding-left: 3px;
  padding-right: 3px;
}
QDialog#LicenseFileWizard QListWidget {
  outline: 0px;
}
QDialog#LicenseFileWizard QListWidget::item {
  background: qlineargradient(top bottom, #252525 0%, #1b1b1b 100%);
  padding: 4px;
}
QDialog#LicenseFileWizard QListWidget::item:selected {
  border: none;
  background: qlineargradient(top bottom, #3c3c3c 0%, #323232 100%);
  color: white;
}

Alg--LicenseInfoDialog QListView,
Alg--LicenseNodeDialog QListView
{
  background: transparent;
  border: 1px solid black;
  max-height: 300px;
  min-height: 200px;
  max-width: 600px;
  min-width: 500px;
}

/* Welcome */
Pfx--Editor--Components--Welcome--WelcomeScreen::window {
  background-color: #252525;
}

Pfx--Editor--Components--Welcome--WelcomeScreen #pane {
  border: none;
  margin: 0 0 0 150px;
}

Pfx--Editor--Components--Welcome--WelcomeScreen QTabWidget:pane {
  background: none;
  border-top: 1px solid #4a4a4a;
  padding: 0;
}

Pfx--Editor--Components--Welcome--WelcomeScreen QTabBar::tab {
  padding: 15px 25px;
}

Pfx--Editor--Components--Welcome--WelcomeScreen QListView {
  background: transparent;
  border: none;
  font-size: 12px
}

Pfx--Editor--Components--Welcome--WelcomeScreen QListView::item {
  color: #808080;
  padding: 8px;
}

Pfx--Editor--Components--Welcome--WelcomeScreen QToolButton {
  font-size: 12px;
  font-weight: bold;
  padding: 8px 24px;
}

Pfx--Applications--Designer--Components--WelcomePages--LearnPage #mWhatsThisLabel {
  font-size: 12px;
  min-height: 17px; /* Otherwise the label changes size when setting/clearing its text under Linux */
}

/* About */
Alg--Gui--AboutDialog {
  max-height: 500px;
  min-height: 400px;
  max-width: 700px;
  min-width: 660px;
}

Alg--Gui--AboutDialog #pane {
  border: none;
  padding: 32px auto;
  margin: 0 0 0 150px;
}

Alg--Gui--AboutDialog #about-title {
  font-size: 20px;
  font-weight: bold;
}

Alg--Gui--AboutDialog #about-subtitle {
  font-size: 18px;
}

Alg--Gui--AboutDialog #about-details {
  color: #a0a0a0;
}

Alg--Gui--AboutDialog #about-disclamer {
  font-weight: bold;
}

/* Graph */
Pfx--Editor--Components--Graph--BaseGraphSceneGrid {
  qproperty-gridColor1: 90;
  qproperty-gridColor2: 92;
  qproperty-gridColor3: 110;
}

Pfx--Editor--Components--Graph--CompGraphWidget QGraphicsView,
Pfx--Editor--Components--Graph--ParamGraphWidget QGraphicsView,
Pfx--Editor--Components--Graph--FuncGraphWidget QGraphicsView {
  background: #404040;
}

/* Settings */
Alg--Gui--Settings--SettingsEditor > QTreeView,
Alg--Gui--Settings--SettingsEditor > QAbstractItemView {
  background-color: #262626;
  margin: 0;
  selection-background-color: none;
  font-size: 14px;
}

Alg--Gui--Settings--SettingsEditor > QTreeView::branch,
Alg--Gui--Settings--SettingsEditor > QTreeView::item {
  border-bottom: 1px solid #444444;
  padding: 10px 5px 10px 0;
}

Alg--Gui--Settings--SettingsEditor > QAbstractItemView::item:enabled:selected,
Alg--Gui--Settings--SettingsEditor > QAbstractItemView::branch:enabled:selected {
  color: #e6e6e6;
  border-bottom: 1px solid #444444;
  padding: 10px 5px 10px 0;
  background-color: #444444;
}

Alg--Gui--Settings--SettingsEditor > QTreeView::branch:hover:!selected,
Alg--Gui--Settings--SettingsEditor > QTreeView::item:hover:!selected {
  color: #1a8dff;
  border-bottom: 1px solid #444444;
  padding: 10px 5px 10px 0;
  background-color: #262626;
}

Alg--Gui--Settings--SettingsEditor > QTreeView::branch:hover:selected,
Alg--Gui--Settings--SettingsEditor > QTreeView::item:hover:selected {
  border-bottom: 1px solid #444444;
  padding: 10px 5px 10px 0;
  background-color:#444444;
}

Alg--Gui--Settings--SettingsEditor > QTreeView::branch {
  border-bottom: 1px solid #444444;
  padding: 10px 5px 10px 0;
}

Alg--Gui--Settings--SettingsEditor > QFrame > QScrollArea{
  padding-right: 8px;
  padding-top: -8px;
}

Alg--Gui--Settings--SettingsEditor  #mButtonBox {
  padding: 50px;
}

Alg--Gui--Settings--SettingsEditor  QTabBar:tab{
  padding: 8px 10px;
}

/* Dialogs */
Pfx--Editor--Gui--ImagePreview {
  background: #4a4a4a;
}

Pfx--Editor--Gui--ImagesImportDialog #toolbar{
  background: #4a4a4a;
  border-bottom: 1px solid #2a2a2a;
}

Pfx--Editor--Gui--ImagesImportDialog #separator[frameShape="5"]{
  background: #4a4a4a;
  min-width: 10px;
  max-width: 10px;
  margin: 0px 0px 1px 0px;
}

Pfx--Editor--Gui--StatusToolBar
{
  background: #444444;
}

/* [Relationnal Stylesheet] ------------------------------------------------- */



/* Edits & Inputs */
QAbstractSpinBox,
QSlider {
  background-color: #2c2c2c;
  border-style: none;
  color: #999999;
}

QAbstractSpinBox:disabled,
QSlider:disabled {
  background-color: transparent;
  color: #4d4d4d;
}

/*QAbstractSpinBox:enabled:hover,
QSlider:enabled:hover {
  background-color: #1a1a1a;
  color: #c0c0c0;
}*/

QAbstractSpinBox:enabled:focus,
QSlider:enabled:focus {
  background-color: black;
  color: white;
}

QTextEdit, QLineEdit, QPlainTextEdit, QTextBrowser#PropertiesHtmlEditor {
  background: #252525;
  selection-color: white;
  selection-background-color: #1a8dff;
  border: none;
  border-radius: 3px;
}
QTextEdit:hover, QLineEdit:hover, QPlainTextEdit:hover, QTextBrowser#PropertiesHtmlEditor:hover {
  background: #2a2a2a;
}
QTextEdit[hasError="true"], QLineEdit[hasError="true"], QPlainTextEdit[hasError="true"], QTextBrowser#PropertiesHtmlEditor[hasError="true"] {
  border: 1px solid #a94442;
}

QLineEdit {
  height: 16px;
}

QLineEdit:disabled {
  background: #303030;
  border: 1px solid #505050;
  color: #616161;
}

/* Checkbox & RadioButton */

QCheckBox,
QRadioButton {
  background: transparent;
  padding: 2px;
  spacing: 5px;
}
QCheckBox:disabled,
QRadioButton:disabled {
  color: #505050;
}
QCheckBox[text~=""],
QRadioButton[text~=""] {
  spacing: 10px;
}
QCheckBox::indicator,
QGroupBox::indicator,
QRadioButton::indicator,
QAbstractItemView::indicator {
  background: transparent;
}

QCheckBox::indicator:enabled,
QGroupBox::indicator:enabled,
QRadioButton::indicator:enabled,
QAbstractItemView::indicator:enabled,
QTreeView::indicator:enabled,
QTableView::indicator:enabled {
  background-color: #1e1e1e;
  width: 13px;
  height: 13px;
}

QCheckBox::indicator:enabled:hover,
QGroupBox::indicator:enabled:hover,
QRadioButton::indicator:enabled:hover,
QAbstractItemView::indicator:enabled:hover,
QTreeView::indicator:enabled:hover {
  width: 13px;
  height: 13px;
  background-color: #4d4d4d;
}
QCheckBox::indicator:disabled,
QGroupBox::indicator:disabled,
QRadioButton::indicator:disabled,
QAbstractItemView::indicator:disabled,
QTreeView::indicator:disabled {
  background-color: #303030;
}
QCheckBox::indicator:enabled:pressed,
QGroupBox::indicator:enabled:pressed,
QRadioButton::indicator:enabled:pressed,
QAbstractItemView::indicator:enabled:pressed,
QTreeView::indicator:enabled:pressed {
  width: 13px;
  height: 13px;
  background-color: #1a1a1a;
}
QCheckBox::indicator:checked,
QGroupBox::indicator:checked,
QRadioButton::indicator:checked,
QAbstractItemView::indicator:checked,
QTreeView::indicator:enabled:checked,
QTableView::indicator:enabled:checked {
  image: url(../builder/ui/stylesheets/img/UI20/combo-checked.png);
  width: 13px;
  height: 13px;
  background-color: #1e1e1e;
}
QCheckBox::indicator:checked:disabled,
QGroupBox::indicator:checked:disabled,
QRadioButton::indicator:checked:disabled,
QAbstractItemView::indicator:checked:disabled,
QTreeView::indicator:enabled:checked:disabled,
QTableView::indicator:enabled:checked :disabled{
  image: url(../builder/ui/stylesheets/img/UI20/combo-checked-disabled.png);
  width: 13px;
  height: 13px;
  background-color: #303030;
}
QCheckBox::indicator:checked:hover,
QGroupBox::indicator:checked:hover,
QRadioButton::indicator:checked:hover,
QAbstractItemView::indicator:checked:hover,
QTreeView::indicator:checked:hover {

  width: 13px;
  height: 13px;
  background-color: #4d4d4d;
}
QCheckBox::indicator:checked:pressed,
QGroupBox::indicator:checked:pressed,
QRadioButton::indicator:checked:pressed,
QAbstractItemView::indicator:checked:pressed,
QTreeView::indicator:checked:pressed {
  image: url(:/StyleSheetImages/checkbox_checked.png);
  width: 13px;
  height: 13px;
  background-color: #1a1a1a;
}

QCheckBox::indicator:indeterminate,
QGroupBox::indicator:indeterminate,
QRadioButton::indicator:indeterminate,
QAbstractItemView::indicator:indeterminate {
  width: 10px;
  height: 10px;
  background-color: #444444;
  border: 3px solid #1e1e1e;
}
QCheckBox::indicator:indeterminate:hover,
QGroupBox::indicator:indeterminate:hover,
QRadioButton::indicator:indeterminate:hover,
QAbstractItemView::indicator:indeterminate:hover {
  width: 10px;
  height: 10px;
  background-color: #4d4d4d;
  border: 3px solid #1e1e1e;
}

QTreeView::indicator:enabled:selected,
QTableView::indicator:enabled:selected {
  width: 13px;
  height: 13px;
  background-color: #1e1e1e;
}

/* QTextBrowser */
QTextBrowser:enabled,
QTextBrowser:enabled:hover,
QTextBrowser:enabled:focus {
  background-color: #505050;
  border-color: #252525;
  color: #e0e0e0;
}
	

/* Splitters */
QMainWindow::separator {
  background: #0d0d0d;
  width: 1px;
  height: 0px;
  border: 1px solid #444444;
}
QMainWindow::separator:hover {
  background: #262626;
  width: 0px;
  border: 0px solid #1a1a1a;
}

QSplitter::handle {
  background: #0d0d0d;
}
QSplitter::handle:vertical {
  height: 2px;
}

Pfx--Applications--Player--View3D QSplitter::handle {
  image: url(:/alg/gui/icons/lightarrowleft.svg);
}
Pfx--Applications--Player--View3D QSplitter::handle:vertical {
  height: 11px;
}

QSplitter::handle:pressed {
  background: #262626;
}


/* Sliders */
Alg--Gui--SliderEdit {
  height: 14px;
  background: transparent;
  color: #c8c8c8;
  border: 0px solid #14FF14;
  margin: 0px 5px 0px 5px;
}


Alg--Gui--SliderEdit::add-page {
  background: #4D4D4D;
  border: none;
}

Alg--Gui--SliderEdit::sub-page:hover {
  background: red;
}


Alg--Gui--SliderEdit::add-page:disabled {
  background: #4d4d4d;
}

Alg--Gui--SliderEdit::groove {
  background: #b3b3b3;
  height: 2px;
}

Alg--Gui--SliderEdit::groove:hover {
  background: #1A8DFF;
}

Alg--Gui--SliderEdit::groove:disabled {
  background: #8c8c8c;
}

Alg--Gui--SliderEdit::handle {
  background: qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop:0 #b3b3b3, /*stop:0.4 #444444, stop:0.5 #b3b3b3,*/ stop:0.7 #b3b3b3, stop:0.8 #444444, stop:1 #444444);
  margin: -6px;
  width: 14px;
  height: 12px;
  border-radius: 5px;
}

Alg--Gui--SliderEdit::disabled {
  color: #616161;
}

QLabel::disabled {
  color: #969696;
}

Alg--Gui--SliderEdit::handle:hover {
  background: qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop:0 #1A8DFF, stop:0.7 #1A8DFF, stop:0.8 #444444, stop:1 #444444);
}

Alg--Gui--SliderEdit::handle:disabled {
  background: qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop:0 #666666, stop:0.7 #666666, stop:0.8 #444444, stop:1 #444444);
}

Alg--Gui--SliderEdit QDoubleSpinBox {
  background: transparent;
  padding-left: 0px;
  margin: 0px;
  color: #b3b3b3;
  min-height: 15px;
  max-height: 15px;
  min-width: 70px;
  max-width: 70px;
}

Pfx--Applications--Player--TweaksList Alg--Gui--SliderEdit QDoubleSpinBox {
  max-width: 0;
  min-width: 0;
}

Alg--Gui--SliderEdit  QLabel {
  min-height: 15px;
  max-height: 15px;
  padding: 0px;
  margin: 0px;
  padding-left: 1px;
  color: #b3b3b3;
}

/* QLabel[parent="SliderEditor"] {
  min-width: 50px;
  max-width: 50px;
} */

Alg--Gui--SliderEdit  QLabel:hover {
  min-height: 15px;
  max-height: 15px;
  padding: 0px;
  margin: 0px;
  padding-left: 3px;
  color: #e6e6e6;
}


Alg--Gui--ColorEdit  Alg--Gui--SliderEdit  QLabel {
  padding-left: 0px;
}


Alg--Gui--SliderEdit QDoubleSpinBox:focus,
Alg--Gui--SliderEdit QDoubleSpinBox:hover:focus{
  background: #141414;
  color: #c8c8c8;
  border-bottom: 1px solid #1A8DFF;
}

Alg--Gui--SliderEdit QDoubleSpinBox:hover{
  color: #e6e6e6;
  border-bottom: 1px solid #999999;
}

Alg--Gui--SliderEdit QDoubleSpinBox::down-button {
  border: none;
  height: 0;
}

Alg--Gui--SliderEdit QDoubleSpinBox::up-button {
  border: none;
  height: 0;
}

Alg--Gui--SliderEdit QDoubleSpinBox::down-button:focus,
Alg--Gui--SliderEdit QDoubleSpinBox::up-button:focus {
  height: 7px;
}




QToolBar#color-curve-toolbar {
  background: none;
  border:none;
  spacing: 5px;
}


/*========================================================================================================*/
Alg--Gui--MenuActionWidget {
  background-color: #3f3f3f;
}

Alg--Gui--MenuActionWidget #text {
  color: #c8c8c8;
}

Alg--Gui--MenuActionWidget[isNotSupported="true"] {
  background-color: #FCB917;
}

Alg--Gui--MenuActionWidget[isNotSupported="true"] #text {
  background-color: #FCB917;
  color: #808080;
  font-style:italic;
}

Alg--Gui--MenuActionWidget[mouseHover="true"][isNotSupported="false"] {
  background-color: #585858;
}

/*========================================================================================================*/
QTableView QTableCornerButton::section{
  background: transparent;
  border: none;
}
QTableView::item:enabled:selected{
	background: #656565;
}
/*========================================================================================================*/
/* Pfx--Gui--FloatingWidget */
Pfx--Gui--FloatingWidget {
  border: 1px solid #141414;
}

Pfx--Editor--Components--Graph--BrowserWidgetShelf QMainWindow{
/*   min-width: 260px;
  max-width: 260px;
  min-height: 670px;
  max-height: 670px; */
}

Alg--Gui--ContextMenu[needExtraSpacing="1"]::item {
  height: 26px;
  padding-left: 28px;
}

QPushButton#statusbar-inContextEditionButton {
  background: none;
  color: rgb(250, 250, 110);
}

QPushButton#statusbar-inContextEditionButton:hover {
  text-decoration: underline
}

/*========================================================================================================*/
/* BreadcrumbBar */

Pfx--Editor--Components--Graph--BreadcrumbBar {
  background: #2b2b2b;
  min-height: 30; /* Increase the height and add a 1px margin above/below buttons */
  max-height: 30;
}

Pfx--Editor--Components--Graph--BreadcrumbWidget QToolButton {
  border: 1 solid transparent;
  border-radius: 0;
  background: rgba(27, 27, 27, 0.5);
}

Pfx--Editor--Components--Graph--BreadcrumbWidget QToolButton:hover {
  color: #1a8dff;
}

Pfx--Editor--Components--Graph--BreadcrumbWidget QToolButton[current=true] {
  color: #111111;
  background: #1a1a1a;
  border: 1 solid #1a8dff;
}

Pfx--Editor--Components--Graph--BreadcrumbWidget QToolButton[current=false]:hover {
  background: #1a1a1a;
  color: #1a8dff;
}

Pfx--Editor--Components--Graph--BreadcrumbWidget QToolButton[type=arrow] {
  margin: 0 2 0 0;
}

Pfx--Editor--Components--Graph--BreadcrumbWidget QToolButton[type=arrow]:enabled {
  qproperty-icon: url(:/alg/gui/icons/lightarrowright.svg);
}

Pfx--Editor--Components--Graph--BreadcrumbWidget QToolButton[type=arrow]:disabled {
  qproperty-icon: url(:/alg/gui/icons/darkarrowright.svg);
}

Pfx--Editor--Components--Graph--BreadcrumbWidget QToolButton[type=arrow]:hover {
  background: #1a1a1a;
}

/*========================================================================================================*/
/* BreadcrumbHistoryWidget */

Pfx--Editor--Components--Graph--BreadcrumbHistoryWidget {
  border-left: 1 solid #444444;
  border-bottom: 1 solid #444444;
}

Pfx--Editor--Components--Graph--BreadcrumbHistoryWidget QWidget,
Pfx--Editor--Components--Graph--BreadcrumbHistoryWidget QWidget:hover,
Pfx--Editor--Components--Graph--BreadcrumbHistoryWidget QWidget:hover:pressed {
  background: transparent;
}

Pfx--Editor--Components--Graph--BreadcrumbHistoryWidget QToolButton[type=arrow] {
  qproperty-enabled: false;
}

Pfx--Editor--Components--Graph--BreadcrumbHistoryWidget #rowBackground {
  background: #4d4d4d;
}

Pfx--Editor--Components--Graph--BreadcrumbHistoryWidget #rowBackground[hovered=true] {
  background: #444444;
  border: 1 solid #4d4d4d;
}

Pfx--Editor--Components--Graph--ThumbnailsWidget QLabel {
  background: #444444;
  border: 1px solid #666666;
  color: #cccccc;
  margin: 0 2 0 0;
}

/*========================================================================================================*/
/* BreadcrumbListWidget */

Pfx--Editor--Components--Graph--BreadcrumbListWidget {
  border-left: 1 solid #444444;
  border-bottom: 1 solid #444444;
}

Pfx--Editor--Components--Graph--BreadcrumbListWidget QToolButton {
  background: #4d4d4d;
  border: 1 solid transparent;
  border-radius: 0;
}

Pfx--Editor--Components--Graph--BreadcrumbListWidget QToolButton[current=true],
Pfx--Editor--Components--Graph--BreadcrumbListWidget QToolButton[current=true]:hover,
Pfx--Editor--Components--Graph--BreadcrumbListWidget QToolButton[current=true]:pressed {
  color: #ffffff;
  background: #4d4d4d;
  border: 1 solid #1a8dff;
}

Pfx--Editor--Components--Graph--BreadcrumbListWidget QToolButton[current=false]:hover {
  background: #444444;
  border: 1 solid #4d4d4d;
}

/*========================================================================================================*/
/* ArrowScrollArea */

Alg--Gui--ArrowScrollArea #overflowButton, #rightButton, #leftButton {
/*  border-radius: 0; */
}

Alg--Gui--ArrowScrollArea #overflowButton {
  margin: 0 0 3 0;
  icon-size: 10px;
}

Alg--Gui--ArrowScrollArea #overflowButton:hover {
  background-color: #262626;
}

Alg--Gui--ArrowScrollArea #leftButton, #rightButton {
  width: 10px;
  icon-size: 15px;
}

Alg--Gui--ArrowScrollArea #leftButton {
  margin: 0 0 3 2;
}

Alg--Gui--ArrowScrollArea #rightButton {
  margin: 0 0 3 0;
}
