.mayaSwatches
.temp
__downloads__
__pycache__
*.pyc
*.pyo
workspace.xml
azpy/_sample_package_/*
# Ignore dynaconf secret files
.secrets.*
.env
settings_export.json.tmp
settings.local.json
**/*.local*
user