.mayaSwatches
.temp
__downloads__
__pycache__
__tmp__
*.pyc
*.pyo
workspace.xml
# Ignore dynaconf secret files
.secrets.*
settings.local.json
azpy/_sample_package_/*
.env
settings_export.json.tmp
Env_Dev.bat
imgui.ini