{
    "configurations": [
        {
            "displayName": "Substance: <template>",
            "iblSpecularImageFilePath": "materialeditor/lightingpresets/_Substance_/<latlong_image>_iblskyboxcm_iblspecular.exr.streamingimage",
            "iblDiffuseImageFilePath": "materialeditor/lightingpresets/_Substance_/<latlong_image>_iblskyboxcm_ibldiffuse.exr.streamingimage",
            "skyboxFilePath": "materialeditor/lightingpresets/_Substance_/<latlong_image>_iblskyboxcm.exr.streamingimage",
            "exposure": {
                "compensateValue": 0.0,
                "exposureControlType": 0,
                "lightAdaptationSensitivity": 0.949999988079071,
                "lightAdaptationScale": 0.8500000238418579,
                "lightAdaptationSpeedLimit": 8.0,
                "darkAdaptationSensitivity": 0.949999988079071,
                "darkAdaptationScale": 0.8500000238418579,
                "darkAdaptationSpeedLimit": 8.0,
                "lightDarkExposureBorder": 0.0,
                "autoExposureMin": -10.0,
                "autoExposureMax": 10.0,
                "eyeAdaptationDelayTime": 0.5
            },
            "lights": [
                {
                    "direction": [
                        0.0,
                        0.0,
                        -1.0
                    ],
                    "color": [
                        1.0,
                        1.0,
                        1.0,
                        1.0
                    ],
                    "shadowCascadeCount": 4,
                    "shadowRatioLogarithmUniform": 1.0,
                    "shadowFarClipDistance": 20.0,
                    "shadowmapSize": "Size2048",
                    "enableShadowDebugColoring": false
                    "intensity": 1.0,
                    "shadowsEnabled": false
                }
            ]
        },
        {
            "displayName": "Substance: <template> (Alt)",
            "iblSpecularImageFilePath": "materialeditor/lightingpresets/_Substance_/<latlong_image>_iblskyboxcm_iblspecular.exr.streamingimage",
            "iblDiffuseImageFilePath": "materialeditor/lightingpresets/_Substance_/<latlong_image>_iblskyboxcm_ibldiffuse.exr.streamingimage",
            "skyboxFilePath": "materialeditor/lightingpresets/_Substance_/<latlong_image>_iblskyboxcm_ibldiffuse.exr.streamingimage",
            "lights": [
                {
                    "direction": [
                        0.0,
                        0.0,
                        -1.0
                    ],
                    "color": [
                        1.0,
                        1.0,
                        1.0,
                        1.0
                    ],
                    "shadowCascadeCount": 4,
                    "shadowRatioLogarithmUniform": 1.0,
                    "shadowFarClipDistance": 20.0,
                    "shadowmapSize": "Size2048",
                    "enableShadowDebugColoring": false
                    "intensity": 1.0,
                    "shadowsEnabled": false
                }
            ]
        }
    ]
}
