/*
 * Copyright (c) Contributors to the Open 3D Engine Project.
 * For complete copyright and license terms please see the LICENSE at the root of this distribution.
 *
 * SPDX-License-Identifier: Apache-2.0 OR MIT
 *
 */

AzToolsFramework--EntityOutlinerWidget #m_display_options
{
    qproperty-icon: url(:/stylesheet/img/UI20/menu-centered.svg);
    qproperty-iconSize: 16px 16px;
    qproperty-flat: true;
}

AzToolsFramework--EntityOutlinerWidget QTreeView
{
    selection-background-color: transparent;
}


/* 	
 *  Entity Outliner handles hover and selected state of items via code,
 *  so we need to override the AzQtComponents::Treeview style.
 */
AzToolsFramework--EntityOutlinerWidget QTreeView::branch:hover
, AzToolsFramework--EntityOutlinerWidget QTreeView::item:hover
, AzToolsFramework--EntityOutlinerWidget QTreeView::branch:selected
, AzToolsFramework--EntityOutlinerWidget QTreeView::item:selected
, AzToolsFramework--EntityOutlinerWidget QTreeView::branch:selected:active
, AzToolsFramework--EntityOutlinerWidget QTreeView::item:selected:active
{
    background: transparent;
}


/* --- VISIBILITY AND LOCK --- */

AzToolsFramework--EntityOutlinerCheckBox
{
    border: 0px solid transparent;
    border-radius: 0px;
    spacing: 0px;
    padding: 0;
	padding-right: 2px;
    line-height: 0px;
    margin: 0px;
    max-height: 20px;
    max-width: 18px;
}

AzToolsFramework--EntityOutlinerCheckBox::indicator
{
    width: 16px;
    height: 16px;
    image-position:center;
    border: 1px solid transparent;
    image: none;
    spacing: 0px;
    padding: 0px;
    line-height: 0px;
    margin: 3px 0 0 0;
    max-width: 18px;
    width: 18px;
}

AzToolsFramework--EntityOutlinerCheckBox#VisibilityMixed::indicator:checked
, AzToolsFramework--EntityOutlinerCheckBox#VisibilityMixed::indicator:unchecked
, AzToolsFramework--EntityOutlinerCheckBox#VisibilityMixed::indicator:indeterminate
, AzToolsFramework--EntityOutlinerCheckBox#VisibilityMixedHover::indicator:checked
, AzToolsFramework--EntityOutlinerCheckBox#VisibilityMixedHover::indicator:unchecked
, AzToolsFramework--EntityOutlinerCheckBox#VisibilityMixedHover::indicator:indeterminate
, AzToolsFramework--EntityOutlinerCheckBox#LockMixed::indicator:checked
, AzToolsFramework--EntityOutlinerCheckBox#LockMixed::indicator:unchecked
, AzToolsFramework--EntityOutlinerCheckBox#LockMixed::indicator:indeterminate
, AzToolsFramework--EntityOutlinerCheckBox#LockMixedHover::indicator:checked
, AzToolsFramework--EntityOutlinerCheckBox#LockMixedHover::indicator:unchecked
, AzToolsFramework--EntityOutlinerCheckBox#LockMixedHover::indicator:indeterminate
{
    background: rgba(0, 0, 0, 80);
    border-radius: 5px;
}


/* --- VISIBILITY --- */

AzToolsFramework--EntityOutlinerCheckBox#Visibility::indicator:checked
, AzToolsFramework--EntityOutlinerCheckBox#VisibilityMixed::indicator:checked
{
    image: url(:/Outliner/visibility_default.svg);
}

AzToolsFramework--EntityOutlinerCheckBox#Visibility::indicator:unchecked
, AzToolsFramework--EntityOutlinerCheckBox#VisibilityMixed::indicator:unchecked
{
    image: url(:/Outliner/visibility_on.svg);
	margin-top: 3px;
}

AzToolsFramework--EntityOutlinerCheckBox#VisibilityOverridden::indicator:checked
{
    image: url(:/Outliner/visibility_default_transparent.svg);
}

AzToolsFramework--EntityOutlinerCheckBox#VisibilityOverridden::indicator:unchecked
{
    image: url(:/Outliner/visibility_on_transparent.svg);
	margin-top: 3px;
}

AzToolsFramework--EntityOutlinerCheckBox#VisibilityHover::indicator:checked
, AzToolsFramework--EntityOutlinerCheckBox#VisibilityMixedHover::indicator:checked
, AzToolsFramework--EntityOutlinerCheckBox#VisibilityOverriddenHover::indicator:checked
{
    image: url(:/Outliner/visibility_default_hover.svg);
	margin-top: 3px;
}

AzToolsFramework--EntityOutlinerCheckBox#VisibilityHover::indicator:unchecked
, AzToolsFramework--EntityOutlinerCheckBox#VisibilityMixedHover::indicator:unchecked
, AzToolsFramework--EntityOutlinerCheckBox#VisibilityOverriddenHover::indicator:unchecked
{
    image: url(:/Outliner/visibility_on_hover.svg);
	margin-top: 3px;
}


/* --- LOCK --- */

AzToolsFramework--EntityOutlinerCheckBox#Lock::indicator:checked
, AzToolsFramework--EntityOutlinerCheckBox#LockMixed::indicator:checked
{
    image: url(:/Outliner/lock_on.svg);
	margin-top: 1px;
}

AzToolsFramework--EntityOutlinerCheckBox#Lock::indicator:unchecked
, AzToolsFramework--EntityOutlinerCheckBox#LockMixed::indicator:unchecked
{
    image: url(:/Outliner/lock_default.svg);
}

AzToolsFramework--EntityOutlinerCheckBox#LockOverridden::indicator:checked
{
    image: url(:/Outliner/lock_on_transparent.svg);
}

AzToolsFramework--EntityOutlinerCheckBox#LockOverridden::indicator:unchecked
{
    image: url(:/Outliner/lock_default_transparent.svg);
	margin-top: 1px;
}

AzToolsFramework--EntityOutlinerCheckBox#LockHover::indicator:checked
, AzToolsFramework--EntityOutlinerCheckBox#LockMixedHover::indicator:checked
, AzToolsFramework--EntityOutlinerCheckBox#LockOverriddenHover::indicator:checked
{
    image: url(:/Outliner/lock_on_hover.svg);
	margin-top: 1px;
}

AzToolsFramework--EntityOutlinerCheckBox#LockHover::indicator:unchecked
, AzToolsFramework--EntityOutlinerCheckBox#LockMixedHover::indicator:unchecked
, AzToolsFramework--EntityOutlinerCheckBox#LockOverriddenHover::indicator:unchecked
{
    image: url(:/Outliner/lock_default_hover.svg);
	margin-top: 1px;
}
