{#
Copyright (c) Contributors to the Open 3D Engine Project.
For complete copyright and license terms please see the LICENSE at the root of this distribution.

SPDX-License-Identifier: Apache-2.0 OR MIT
#}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// This code was produced with AzAutoGen, any modifications made will not be preserved.
// If you need to modify this code see:
//
// Gems\ScriptCanvas\Code\Include\ScriptCanvas\AutoGen\ScriptCanvasNodeableRegistry_Header.jinja
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#pragma once

#include <ScriptCanvas/AutoGen/ScriptCanvasAutoGenRegistry.h>

namespace ScriptCanvas
{
    struct NodeRegistry;

    //! {{autogenTargetName}}NodeableRegistry
    //! AutoGen registry to register nodeable required metadata into system
    class {{autogenTargetName}}NodeableRegistry
        : public ScriptCanvasRegistry
    {
    public:
        {{autogenTargetName}}NodeableRegistry();
        virtual ~{{autogenTargetName}}NodeableRegistry();
 
        //! ScriptCanvasRegistry
        void Init(NodeRegistry* nodeRegistry) override;
        void Reflect(AZ::ReflectContext* context) override;
        AZStd::vector<AZ::ComponentDescriptor*> GetComponentDescriptors() override;

        //! Get AutoGen registry name
        static const char* GetRegistryName();
    };
}
