{#
Copyright (c) Contributors to the Open 3D Engine Project.
For complete copyright and license terms please see the LICENSE at the root of this distribution.

SPDX-License-Identifier: Apache-2.0 OR MIT
#}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// This code was produced with AzAutoGen, any modifications made will not be preserved.
// If you need to modify this code see:
//
// Gems\ScriptCanvas\Code\Include\ScriptCanvas\AutoGen\ScriptCanvasFunction_Header.jinja
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

{% import 'ScriptCanvas_Macros.jinja' as macros %}

#pragma once

#include <ScriptCanvasAutoGenRegistry.h>

namespace AZ
{
    class ReflectContext;
}

namespace ScriptCanvas
{
    //! {{autogenTargetName}}FunctionRegistry
    //! AutoGen registry to register function required metadata into system
    class {{autogenTargetName}}FunctionRegistry
        : public IScriptCanvasFunctionRegistry
    {
    public:
        {{autogenTargetName}}FunctionRegistry();
        virtual ~{{autogenTargetName}}FunctionRegistry();
 
        //! Reflect function metadata into BehaviorContext
        void Reflect(AZ::ReflectContext* context) override;

        //! Get AutoGen registry name
        static const char* GetRegistryName();
    };
}
