{
    "description": "MaterialGraphName Material Type Template.",
    "version": 1,
    "shaders": [
        {
            "file": "./MaterialGraphName_ForwardPass.shader"
        },
        {
            "file": "Shaders/Shadow/Shadowmap.shader"
        },
        {
            "file": "Shaders/Depth/DepthPass.shader"
        }
    ],
    "functors": [
    ]
}
